.button {
  padding: var(--padding-s);
  font-family: var(--font-text);
  font-size: var(--font-size-s);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.default {
  color: var(--white);
  background-color: var(--gray-dark);
}

.icon {
  background: none;
  font-size: var(--font-size-l);
  border: none;
  padding: var(--padding-xs);
  color: #333;
}
