.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 252px;
  background-color: var(--black);
}

.footer_info {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: var(--gap-xl);
  height: 128px;
  color: var(--gray-light);
}

.logo {
  width: 30%;
}

.logo p {
  color: var(--white);
}

.operation,
.institutional,
.social {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  color: var(--gray-light);
}

.title {
  margin: 0;
  font-family: var(--font-title);
  font-weight: 400;
}

.anchor {
  color: var(--gray-light);
  text-decoration: none;
  cursor: pointer;
}

.anchor:hover {
  color: var(--white);
  transform: scale(1.1);
}

.icons {
  display: flex;
  gap: var(--gap-xs);
  color: var(--blue);
  font-size: var(--font-size-m);
}

.icon {
  color: var(--blue);
  cursor: pointer;
}

.developed {
  padding: var(--padding-m) var(--padding-s);
  background-color: var(--gray-light);
  color: var(--black);
  text-align: center;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: var(--font-size-m);
}
